@media screen and (max-width: 1280px) {
    h1 {
        font-size: 6.5rem;
        line-height: 100px;
    }
    
    h3 {
        font-size: 1rem;
    }

    a {
        font-size: 1rem;
    }
    
    p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1024px) {
    h1 {
        font-weight: 400;
        font-size: 4.5rem;
        line-height: 60px;
        text-rendering: auto;
    }

    .section-heading {
        position: relative;
        margin-bottom: 4%;
        z-index: 0;
    }

    .section-container__right {
        margin: 5% 0;
    }

    .footer__link-wrapper {
        padding: 4% 3% 2%;
        border-top-left-radius: 250px;
        border-top-right-radius: 250px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 3rem;
        line-height: 40px;
    }

    #aboutLink {
        display: none;
    }

    .section-container__left {
        display: none;
    }

    .section-container__right {
        width: 100%;
    }

    .footer__link-red {
        font-size: 1rem;
    }

    .header__burger-btn {
        display: block;
    }

    .dropdown-wrapper {
        position: absolute;
        width: 100%;
        display: var(--flex);
        align-items: var(--cntr);
        flex-direction: column;
        left: 0;
        top: 80px;
        z-index: 20;
        background-color: var(--clr-body);
    }

    .dropdown-link {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    
    .header__link-logo {
        font-size: 0.8rem;
        letter-spacing: 5px;
    }

    .header__link-logo-min {
        font-size: 0.5rem;
    }

    h1 {
        font-size: 2rem;
        line-height: 25px;
    }

    .swiper-photo {
        height: 100%;
    }

    .slideshow-container {
        top: 5%;
    }

    a {
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: 2px;
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 94%;
        z-index: 11;
        padding: 0 3%;
    }

    .footer__link-red {
        font-size: 0.7rem;
    }
}